$preto: #1E1E1E
$preto-transparencia: #1e1e1ed8
$cinza: #3a3a3a
$branco: #f4f4f4
$primaria: #FF4C4C
$secundaria: #9747FF
$fonte-grande: 72px
$fonte-titulo: 32px
$fonte-subtitulo: 22px
$fonte-texto: 18px
$fonte-pequena: 14px
$arredondamento: 8px